doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title starter
    body
        #clock 
            .hours
            p :
            .minutes
            .meridian

        #search-container
            input(type="text" placeholder="search" autofocus)#search-bar
            img(src="src/images/search-icon.svg").icon

        #links-container
